.navbar {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
}

.menu {
    /* border: 1px solid blue; */
}

.menu-item {
    display: inline;
    /* border: 1px solid red; */
}

.banner {
    border: 1px solid red;
    background: url(../images/toymail-header.png) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buzzfeed {
    display: flex;
    justify-content: center;
    border: 1px solid blue;
     
}