.navbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
}

.menu {
    border: 1px solid blue;
}

.menu-item {
    display: inline;
    border: 1px solid red;
}

.temp {
    height: 20000px;
   
}