.navbar {
    display: flex;
    justify-content: space-between;
    margin: 15px 85px;
    /* border: 1px solid green; */
}

.menu {
    /* border: 1px solid blue; */
}

.menu-item {
    display: inline;
    font-family: 'brandon_grotesque','HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 28px;
    padding: 10px;
    /* border: 1px solid red; */
}

.banner {
    border: 1px solid red;
    background: url(../images/toymail-header.png) no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buzzfeed {
    display: flex;
    justify-content: center;
    border: 1px solid blue;
}

.features {
    display: flex;
    justify-content: space-around;
    border: 1px solid blue;
}