body {
    background: ##FFFFFF;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

h1, h2, h3, h4, h5 {
    display: block;
    margin: 10px 0px;
    padding: 60px 50px;
}

p {
    display: block;
    margin: 10px 0px;
    padding: 0px 50px 20px 50px;
}

.navbar {
    background-color: #F8F8F8;
    min-height: 50px;
    overflow: auto;   
}

.navbar > .title {
    float: left;
    padding: 10px;
    margin: 15px 0px 15px 50px;
    width: 400px;
}

.navbar > .menu {
    float: right;
    padding: 10px;
    width: 400px;
    margin: 15px 50px 15px 0px;
    border: 1px solid blue;
}

ul{
    
    border: 1px solid red;
}

ul li {
    display: inline;
}

li {

    list-style-type: none;
    border: 1px solid black;
    padding: 20px;
}

.profile, .aboutus, .footer {
    background-color: #1ABC9C;
    height: auto;
    text-align: center;
    color: white;
}

.profile img {
    border-radius: 50%;
}

.profile h2, .profile h1, .aboutus h1, .footer h5 {
    margin: 0px 0px;
}

.aboutus, .footer {
    background: #474E5D;
}

.contact {
    overflow: auto;
    
    text-align: center;
}

.contact-column {
    float: left;
    width: 33%;
    margin: 10px 1px;
}

.search-button {
    border-radius: 5%;
    width: 120px;
    height: 40px;
}